<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>RDC</h1>
      </a>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      
      <li
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          routerLink="/"
        >
          <span nz-icon nzType="dashboard"></span>
          <span>{{'sideMenudashboard' | translate}}</span>
      </li>

      <li nz-submenu nzOpen [nzTitle]="'sideMenuworkbench' | translate" nzIcon="github">
        <ul>
          <li nz-submenu [nzTitle]="'SIDEMENU-submenuGenesis' | translate">
            <ul>
              <li nz-menu-item routerLink="/workbench/genesis/projects/model-development">
                <a>{{'SIDEMENU-submenuProjects' | translate}}</a>
              </li>
              <li nz-menu-item routerLink="/workbench/genesis/studio">
                <a>{{'SIDEMENU-submenuStudio' | translate}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen [nzTitle]="'sideMenuadmin' | translate" nzIcon="project">
        <ul>
          <li nz-submenu [nzTitle]="'SIDEMENU-submenuGenesis' | translate">
            <ul>
              <li nz-menu-item>
                <a>{{'SIDEMENU-submenuProjects' | translate}}</a>
              </li>
              <li nz-menu-item>
                <a>{{'SIDEMENU-submenuStudio' | translate}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header" nz-flex>
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>

        <button class="country-button" nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'topRight'">Language</button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="switchLanguage('en')">EN</li>
            <li nz-menu-item (click)="switchLanguage('it')">IT</li>
          </ul>
        </nz-dropdown-menu>

        <nz-avatar nzIcon="user" class="profile-avatar"></nz-avatar>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <nz-breadcrumb nzSeparator=">" class="breadcrumb-container">
          <nz-breadcrumb-item class="cursor" [routerLink]="breadcrumb.url" *ngFor="let breadcrumb of breadcrumbs">{{formatLabel(breadcrumb.label)}}</nz-breadcrumb-item>
        </nz-breadcrumb>

        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
