.ant-table-wrapper {
    overflow: auto;
}


@media (max-height: 600px) {
    .ant-table-wrapper {
        height: 200px;
        
    }
}

@media (min-height: 601px) and (max-height: 700px) {
    .ant-table-wrapper {
        height: 280px;
    }
}

@media (min-height: 701px) and (max-height: 800px) {
    .ant-table-wrapper {
        height: 360px;
    }
}